<h2><%= @actor_name %></h2>

<ul class = "button-group round even-3">
  <li>
    <a href="/movie_catalog/actors" class="button success">Actors</a>
  </li>
  <li>
    <a href="/movie_catalog" class="button success">Home</a>
  </li>
  <li>
    <a href="/movie_catalog/movies?order=title&page=1" class="button success">Movies</a>
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th width="200">Film</th>
      <th width="150">Role</th>
    </tr>
  </thead>
  <tbody>
    <% @actor_info.to_a.each do |actor| %>
    <tr>
      <td>
        <a href= "/movie_catalog/movies/<%= actor["movie_id"] %>"><%= actor["title"] %>
        </a>
      </td>
      <td>
        <%= actor["character"] %>
      </td>
    <% end %>
  </tbody>
</table>
