
<h2><%=@actor_info%></h2>

<!--TWO BIG BUTTONS  -->

<a href="/movie_catalog">Home</a>
<a href="/movie_catalog/movies">Movies</a>

<div class = "actor_info">
  <li>Film  Role</li>
  <% @actor_info.to_a.each do |actor| %>
    <li>
      <a href= "/movie_catalog/movies/<%= actor["movie_id"] %>"><%= actor["title"] %>
      </a>
       : <%= actor["character"] %>
    </li>
  <% end %>
</div>
