<h2>Actors</h2>

<ul class = "button-group round even-3">
  <li>
    <a href="/movie_catalog/actors" class="button success">Actors</a>
  </li>
  <li>
    <a href="/movie_catalog" class="button success">Home</a>
  </li>
  <li>
    <a href="/movie_catalog/?order=title&page=1" class="button success">Movies</a>
  </li>
</ul>

<table>
  <thead>
    <tr>
      <th width="400">Actor</th>
    </tr>
  </thead>
  <tbody>
    <% @actors.each do |actor| %>
    <tr>
      <td><a href ="/movie_catalog/actors/<%= actor["id"] %>">
        <%= actor["name"] %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
