<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>Movierama</title>
  </head>


  <body>
    <h1>Movie Database...Redux!!</h1>
    <h2>View info on:</h2>

    <!--TWO BIG BUTTONS  -->

    <a href="/movie_catalog/actors">Actors</a>
    <a href="/movie_catalog/movies">Movies</a>

  </body>

</html>
