<p><img src="/img/videoedit.png"/></p>

<div class="row">

  <div class="large-8 columns">
    <h2>Movies......REDUX!.</h2>
    <p>You love movies. We love movies. That's why Movies Catalog Redux exists, to give you info on all the classics.... and all the crap. Shitty John Travolta flicks? Got em. 50 Cent? Yep, he's in here too. So click away and be kind..... PLEASE rewind.

    <ul class = "button-group round even-3">
      <li>
        <a href="/movie_catalog/actors" class="button success">Actors</a>
      </li>
      <li>
        <a href="#" class="button success">About</a>
      </li>
      <li>
        <a href="/movie_catalog/movies?order=title&page=1" class="button success">Movies</a>
      </li>
    </ul>
  </div>

</div>
