<h2>Movies</h2>

<!--TWO BIG BUTTONS  -->

<a href="/movie_catalog">Home</a>
<a href="/movie_catalog/actors">Actors</a>

<div class = "actor_content">
  <ul>
    <% @movies.each do |movie| %>
      <li>
        <a href="/movie_catalog/movies/<%= movie["id"] %>">
          <%= movie["title"] %>
          </a>
      </li>
    <% end %>
  </ul>
</div>
